@mixin mq-max($size) {
    @media only screen and (max-width: $size) {
        @content;
    }
}

@mixin mq-min($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
}

$animation-speed: 0.2s;

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-direction: column;
    align-items: center;

    &::before{
        width: 42%;
        //background: rgb(238,174,202);
        //background: linear-gradient(-90deg, rgba(238,174,202,1) 0%, rgba(230,233,148,1) 100%);
        position: absolute;
        content: '';
        right: 0;
        top: 0;
        height: 100%;
        z-index: -10;
    }

    &::after{
        width: 42%;
        //background: rgb(238,174,202);
        //background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(230,233,148,1) 100%);
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        z-index: -10;
    }
}

.header{
    width: 100%;
    max-width: 1200px;
    font-family: 'epilogue';
    font-weight: 500;
    position: relative;

}

.navbar{
    z-index: +3;
    max-width: 1200px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    position: sticky;
    top: 0;
    transition: $animation-speed;
}

.navbar-scrolled{
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.83;
}

.navbar-set{
    display: flex;
    justify-content: space-around;
}

.navbar-hamburger-clicked{
    flex-direction: column;
    margin-left: 25px;
    
    @include mq-min(600px){
        flex-direction: row;
        margin-left: 0;
    }
}

.navbar-item{
    padding: 10px;
    padding-top: 15px;

    @include mq-max(600px){
        display: none;
    }
}

.navbar-item-shown{
    display: block;
}

.navbar-link{

    color: aliceblue;
    text-decoration: none;
    cursor: pointer;
    display: block;
    position: relative;
    width: fit-content;
    transition: $animation-speed;

    &:hover::after{
        width: 100%;
    }

    &:hover{
        transform: scale(1.2);
    }

    &::after{
        display: block;
        background-color: whitesmoke;
        height: 2px;
        width: 0%;
        position: absolute;
        content: '';
        bottom: -3px;
        left: 0;
        transition: $animation-speed ease-in-out;
    }

}

.navbar-hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $animation-speed;
    display: none;
    width: fit-content;
    margin-left: 40px;

    &:hover{
        transform: scale(1.13);
        cursor: pointer;
    }

    @include mq-max(600px){
        display: block;

    }
}

.navbar-hamburger-img{
    height: 30px;
    width: 30px;
}

.header-slider{
    width: 100%;
    aspect-ratio: 4/2.5;
    background-color: rgb(87, 87, 87);
    position: relative;

    @include mq-max(600px){
        aspect-ratio: 4/3.5;
    }
}

.slider-buttons-set{
    position: absolute;
    top: 40%;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.slider-button{
    z-index: +2;
    margin: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: white;
    cursor: pointer;
    transition: $animation-speed;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        box-shadow: 5px 7px 13px 0px rgba(0,0,0,0.3);
    }

    @include mq-max(700px){
        margin: 10px;
        height: 30px;
        width: 30px;
    }
}

.slider-button-arrow{
    margin:  0 auto;
    height: 70%;
    width: auto;
}

.arrow-left{
    transform: rotate(180deg);
}

.story-line{
    width: 100%;
    height: 10px;
    z-index: +5;
}

.story-line__filler{
    background-color: white;
    opacity: 1;
    transition: 0.4s;
    height: 10px;
    width: 0;
    border-radius: 5px 5px 5px 5px;
}

.sliders-show{
    max-width: 1200px;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.slider__see-button{
    position: absolute;
    bottom: 20px;
    left: 100px;
    width: fit-content;
    height: fit-content;
    background-color: black;
    color: aliceblue;
    z-index: +1;
    padding: 15px;
    border: 3px solid aliceblue;

    font-family: 'Chakra Petch';
    cursor: pointer;
    font-size:  1.5em;

    transition: $animation-speed;


    @include mq-max(750px){
        padding: 10px;
        font-size:  1em;

        right: 100px;
        left:auto;

    }

    @include mq-max(700px){
        right: 65px;
    }

    &:hover{
        background-color:royalblue;
        transform: scale(1.05);
    }
}

.images-set{
    max-width: 1200px;
    height: 100%;
    position: relative;
    transition: 0.4s ease-in-out;
}

.slide-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide-img{
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

#slide0-wrapper{

}

#slide1-wrapper{
    transform: translate(100%);
}

#slide2-wrapper{
    transform: translate(200%);
}

#slide3-wrapper{
    transform: translate(300%);
}

#slide4-wrapper{
    transform: translate(400%);
}

.slide-text-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    color: aliceblue;
    padding-left: 100px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    //font-family: 'Chakra Petch';
    max-width: 34%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,0) 0%,
     rgba(0,0,0,0.8547794117647058) 100%);


    @include mq-max(700px){
        padding-left: 65px;
    }

    @include mq-max(550px){
        max-width: 45%;
    }
}

.slide-title{
    font-family: 'Chakra Petch';
    font-size: 3.3em;
    display: block;
    position: relative;
    width: fit-content;

    @include mq-max(900px){
        font-size: 2.3em;
    }

    &::after{
        position: absolute;
        bottom: -14px;
        left: 0;
        content: '';
        height: 5px;
        width: 60%;
        background-color: aliceblue;
    }
}

.slide-text{
    text-align: left;
    margin-top: 30px;
    font-weight: 400;
    font-size: larger;
    display: block;
    line-height: 21px;

    @include mq-max(900px){
        font-size: 1em;
    }
}

.welcome-section{
    margin-top: 10px;
    position: relative;
    display: flex;
    background-color: black;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    flex-direction: column;
    align-items: center;
}


.discover-section{
    border-top: 10px solid aliceblue;
    
    border-radius:  35px 35px 0 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    background-color: black;
}

.weclcome-title{
    position: relative;
    color: aliceblue;
    font-family: 'Chakra Petch';
    font-weight: 600;
    font-size: 3rem;
    text-align: center;   
    padding: 10px;

    @include mq-max(900px){
        font-size: 2.3em;
    }
}

.welcome-subtitle{
    text-align: center;
    color: aliceblue; 
    padding-bottom: 10px;
}

.discover-things-to-do{
    height: fit-content;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.things-to-do-item{

    background-color: aqua;
    padding: 10px;
    margin: 10px;
    flex-basis: 25%;
    flex-grow: 1;
    aspect-ratio: 1/1;
    position: relative;

    border-radius: 25px 0 25px 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-weight: 600;

    @include mq-max(600px){
        flex-basis: 90%;
    }

    @include mq-max(950px){
        flex-basis: 42%;
    }
}

.to-do-item__button-set{
    height: 11%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
}

.to-do__slide-button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: fit-content;
    cursor: pointer;
}

.to-do__slide-button-img{
    height: 100%;
    width: fit-content;
    display: block;
    object-fit: contain;
}

.to-do__button-right{
    transform: rotate(180deg);
}

.to-do-item-title-base{
    position: absolute;
    height: 40px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: wheat;

}

.to-do-title-text{
    
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.to-do-slider{
    position: relative;
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.to-do-slider-item{
    display: block;
    position: absolute;
    z-index: +1;
    transition: $animation-speed;
    opacity: 0;
}

.to-do-active-slide{
    opacity: 1;
}