html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body::before {
  width: 42%;
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  height: 100%;
  z-index: -10;
}

body::after {
  width: 42%;
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  z-index: -10;
}

.header {
  width: 100%;
  max-width: 1200px;
  font-family: 'epilogue';
  font-weight: 500;
  position: relative;
}

.navbar {
  z-index: +3;
  max-width: 1200px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar-hamburger-clicked {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 25px;
}

.navbar-item {
  padding: 10px;
  padding-top: 15px;
}

@media only screen and (max-width: 600px) {
  .navbar-item {
    display: none;
  }
}

.navbar-item-shown {
  display: block;
}

.navbar-link {
  color: aliceblue;
  text-decoration: none;
  cursor: pointer;
  display: block;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar-link:hover::after {
  width: 100%;
}

.navbar-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar-link::after {
  display: block;
  background-color: whitesmoke;
  height: 2px;
  width: 0%;
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.navbar-hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 40px;
}

.navbar-hamburger:hover {
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .navbar-hamburger {
    display: block;
  }
}

.navbar-hamburger-img {
  height: 30px;
  width: 30px;
}

.header-slider {
  width: 100%;
  aspect-ratio: 4/2.5;
  background-color: #575757;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .header-slider {
    aspect-ratio: 4/4.5;
  }
}

.slider-buttons-set {
  position: absolute;
  top: 40%;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-button {
  z-index: +2;
  margin: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  background-color: white;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-button:hover {
  -webkit-box-shadow: 5px 7px 13px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 7px 13px 0px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 700px) {
  .slider-button {
    margin: 10px;
    height: 30px;
    width: 30px;
  }
}

.button-arrow {
  margin: 0 auto;
  height: 70%;
  width: auto;
}

.arrow-left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.story-line {
  width: 100%;
  height: 10px;
  z-index: +5;
}

.story-line__filler {
  background-color: white;
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 10px;
  width: 0;
  border-radius: 5px 5px 5px 5px;
}

.sliders-show {
  max-width: 1200px;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

.images-set {
  max-width: 1200px;
  height: 100%;
  position: relative;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.slide-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide-img {
  height: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

#slide1-wrapper {
  -webkit-transform: translate(100%);
          transform: translate(100%);
}

#slide2-wrapper {
  -webkit-transform: translate(200%);
          transform: translate(200%);
}

#slide3-wrapper {
  -webkit-transform: translate(300%);
          transform: translate(300%);
}

#slide4-wrapper {
  -webkit-transform: translate(400%);
          transform: translate(400%);
}

.slide-text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  color: aliceblue;
  padding-left: 100px;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 34%;
  height: 100%;
  background: white;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.854779)));
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.854779) 100%);
}

@media only screen and (max-width: 700px) {
  .slide-text-wrapper {
    padding-left: 65px;
  }
}

@media only screen and (max-width: 550px) {
  .slide-text-wrapper {
    max-width: 40%;
  }
}

.slide-title {
  font-family: 'Chakra Petch';
  font-size: 3.3em;
  display: block;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media only screen and (max-width: 900px) {
  .slide-title {
    font-size: 2.3em;
  }
}

.slide-title::after {
  position: absolute;
  bottom: -14px;
  left: 0;
  content: '';
  height: 5px;
  width: 60%;
  background-color: aliceblue;
}

.slide-text {
  text-align: left;
  margin-top: 30px;
  font-weight: 400;
  font-size: larger;
  display: block;
  line-height: 21px;
}

@media only screen and (max-width: 900px) {
  .slide-text {
    font-size: 1em;
  }
}

.welcome-section {
  height: 800px;
  max-width: 1200px;
  width: 100%;
  position: relative;
}

.weclcome-title {
  position: relative;
  color: black;
  font-family: 'Chakra Petch';
  font-weight: 700;
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=SASS.css.map */