@mixin mq-max($size) {
    @media only screen and (max-width: $size) {
        @content;
    }
}

@mixin mq-min($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
}

$animation-speed: 0.2s;

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

    &::before{
        width: 42%;
        background: rgb(238,174,202);
        background: linear-gradient(-90deg, rgba(238,174,202,1) 0%, rgba(230,233,148,1) 100%);
        position: absolute;
        content: '';
        right: 0;
        top: 0;
        height: 100%;
        z-index: -10;
    }

    &::after{
        width: 42%;
        background: rgb(238,174,202);
        background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(230,233,148,1) 100%);
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        z-index: -10;
    }
}

.header{
    width: 100%;
    max-width: 1200px;
    font-family: 'Laila';
    font-weight: 500;
    position: relative;

}

.navbar{
    z-index: +3;
    max-width: 1200px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: darksalmon;
    position: sticky;
    top: 0;
    transition: $animation-speed;
}

.navbar-scrolled{
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-set{
    display: flex;
    justify-content: space-around;
}

.navbar-hamburger-clicked{
    flex-direction: column;
    margin-left: 25px;
}

.navbar-item{
    padding: 10px;
    padding-top: 15px;

    @include mq-max(600px){
        display: none;
    }
}

.navbar-item-shown{
    display: block;
}

.navbar-link{

    color: aliceblue;
    text-decoration: none;
    cursor: pointer;
    display: block;
    position: relative;
    width: fit-content;
    transition: $animation-speed;

    &:hover::after{
        width: 100%;
    }

    &:hover{
        transform: scale(1.2);
    }

    &::after{
        display: block;
        background-color: whitesmoke;
        height: 2px;
        width: 0%;
        position: absolute;
        content: '';
        bottom: -3px;
        left: 0;
        transition: $animation-speed ease-in-out;
    }

}

.navbar-hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $animation-speed;
    display: none;
    width: fit-content;
    margin-left: 40px;

    &:hover{
        transform: scale(1.13);
        cursor: pointer;
    }

    @include mq-max(600px){
        display: block;

    }
}

.navbar-hamburger-img{
    height: 30px;
    width: 30px;
}

.header-slider{
    width: 100%;
    aspect-ratio: 4/2.5;
    background-color: darkcyan;
    position: relative;

    @include mq-max(600px){
        aspect-ratio: 4/3.4;
    }
}

.slider-buttons-set{
    position: absolute;
    top: 35%;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.slider-button{
    z-index: +2;
    margin: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: darksalmon;
    cursor: pointer;
    transition: $animation-speed;

    &:hover{
        box-shadow: 5px 7px 13px 0px rgba(0,0,0,0.3);
    }
}

.section{
    height: 800px;
    background-color: aqua;
    width: 100%;
}

.button-arrow{
    margin:  0 auto;
    height: 70%;
    width: auto;
}

.arrow-left{
    transform: rotate(180deg);
}

.story-line{
    width: 100%;
    height: 10px;
    background-color: rgba(238,174,202,0.3);
    z-index: +5;
}

.sliders-show{
    max-width: 1200px;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.images-set{
    max-width: 1200px;
    height: 100%;
    position: relative;
    transition: $animation-speed ease-in-out;
}

.slide-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide-img{
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

#slide0-wrapper{
    background-color: aquamarine;
    transform: translate(-100%);
}

#slide1-wrapper{
    background-color: brown;
}

#slide2-wrapper{
    background-color: beige;
    transform: translate(100%);
}