@mixin mq-max($size) {
    @media only screen and (max-width: $size) {
        @content;
    }
}

@mixin mq-min($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
}

$animation-speed: 0.2s;

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header{
    width: 100%;
    max-width: 1200px;
    background-color: darksalmon;
    font-family: 'Laila';
    font-weight: 500;
    padding: 20px;
}

.navbar{
    max-width: 1200px;
}

.navbar-set{
    display: flex;
    justify-content: space-around;
}

.navbar-item{
    padding: 5px;
    padding-top: 10px;
}

.navbar-link{

    @include mq-max(600px){
        display: none;
    }

    color: aliceblue;
    text-decoration: none;
    cursor: pointer;
    display: block;
    position: relative;
    width: fit-content;

    &:hover::after{
        width: 100%;
    }

    &::after{
        display: block;
        background-color: whitesmoke;
        height: 2px;
        width: 0%;
        position: absolute;
        content: '';
        bottom: -3px;
        left: 0;
        transition: $animation-speed ease-in-out;
    }

}

.navbar-hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $animation-speed;
    display: none;

    &:hover{
        transform: scale(1.13);
        cursor: pointer;
    }

    @include mq-max(600px){
        display: block;
    }
}

.navbar-hamburger-img{
    height: 30px;
    width: 30px;
}
